<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button icon-only (click)="homeClick()">
        <ion-icon name="home" color="primary"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      {{ entity?.name }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <properties-users-dashboard></properties-users-dashboard>
</ion-content>
