<ion-header>
  <ion-navbar>
    <ion-title>
      Property {{ property?.property_number }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form *ngIf="property">
    <ion-item>
      <ion-label stacked>Property Number</ion-label>
      <ion-input type="text" disabled="true" [(ngModel)]="property.property_number" name="property_number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Section/Stand Number</ion-label>
      <ion-input type="text" disabled="true" [(ngModel)]="property.section_stand_number" name="section_stand_number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Door Number</ion-label>
      <ion-input type="text" disabled="true" [(ngModel)]="property.door_number" name="door_number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Property Legal Standing</ion-label>
      <ion-input type="text" disabled="true" [(ngModel)]="property.legal_standing" name="legal_standing"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Property Legal Status</ion-label>
      <ion-input type="text" disabled="true" [(ngModel)]="property.legal_status" name="legal_status"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Street Name</ion-label>
      <ion-input type="text" disabled="true" [(ngModel)]="property.street_name" name="street_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Transfer Date</ion-label>
      <ion-input type="text" disabled="true" [(ngModel)]="property.transfer_date" name="transfer_date"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Bondholder</ion-label>
      <ion-input type="text" disabled="true" [(ngModel)]="property.bondholder" name="bondholder"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Bond value</ion-label>
      <ion-input type="text" disabled="true" [(ngModel)]="property.bondValue" name="bondValue"></ion-input>
    </ion-item>
    <!-- <button ion-button type="submit" block>Add Todo</button> -->
  </form>
</ion-content>
