<ion-header>
  <ion-navbar>
    <ion-title>
      Users
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item *ngFor="let user of users">
      <ion-avatar item-start>
          <fa-icon [icon]="faUser"></fa-icon>
        </ion-avatar>
    <h2>{{ user.firstname }} {{ user.surname }}</h2>
    <p>{{ user.email }}</p>
    <button ion-button clear item-end (click)="openLink(user.uid)">View</button>
  </ion-item>
</ion-content>
