properties-users-dashboard {
  .item-md ion-avatar[item-start] {
    background: color($colors, primary);
    text-align: center;
    padding-top: 10px;
  }
  .svg-inline--fa {
    color: #fff;
    font-size: 20px;
  }
}
