<ion-list>
  <ion-item>
      <ion-avatar item-start>
          <fa-icon [icon]="faBuilding"></fa-icon>
        </ion-avatar>
    <h2>Properties</h2>
    <p>Total:
      <ng-template #noPropertiesCount>
        <span class="fa fa-refresh fa-spin"></span>
      </ng-template>
      <span *ngIf="propertiesCount || propertiesCount == 0; else noPropertiesCount">{{ propertiesCount }}
      </span>
    </p>
    <button ion-button clear item-end (click)="openProperties()">View All</button>
  </ion-item>
  <ion-item>
      <ion-avatar item-start>
          <fa-icon [icon]="faUser"></fa-icon>
        </ion-avatar>
    <h2>Users</h2>
    <p>Total:
      <ng-template #noPropertiesCount>
        <span class="fa fa-refresh fa-spin"></span>
      </ng-template>
      <span *ngIf="propertiesCount || propertiesCount == 0; else noPropertiesCount">{{ usersCount }}
      </span>
    </p>
    <button ion-button clear item-end (click)="openUsers()">View All</button>
  </ion-item>
</ion-list>
