// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
.menu-list, .menu-logo {
  padding: 0 16px 16px;
}
.menu-logo {
  padding: 0.5em 16px 0;
}
.error-message {
  color: color($colors, danger);
}
.success {
  color: color($colors, success);
}
.help {
  color: color($colors, secondary);
}
.btn-google {
  background: #cf4332;
  color: #FFF;
  margin: 0.4rem 0;
  padding: 0;
  width: 100%;
  i {
      position: absolute;
      font-weight: normal;
      left:0;
      background: rgba(0, 0, 0, 0.1);
      height: 3.6rem;
      width: 3.6rem;
      line-height: 3.6rem;
  }
}
.item-md {
  padding-left: 0px;
}
.nav-icons {
  min-width: 40px;
  min-height: 40px;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
}
.page-link {
  color: color($colors, primary);
}

form {
  .button {
      margin-top: 20px;
  }
}
.btn-export {
  padding: 4px 7px;
  font-size: 12px;
  border: 1px solid;
}
.buttons-copy {
  border-color: #e7505a;
  color: #e7505a;
  background: none;
}
.buttons-pdf {
  border-color: #32c5d2;
  color: #32c5d2;
  background: none;
}
.buttons-excel {
  border-color: #c49f47;
  color: #c49f47;
  background: none;
}
.buttons-csv {
  border-color: #8E44AD;
  color: #8E44AD;
  background: none;
}

// ios Changes
// .ios .plex-header:first-child {
//     padding-top: calc(20px + 4px);
//     padding-top: calc(constant(safe-area-inset-top) + 4px);
//     padding-top: calc(env(safe-area-inset-top) + 4px);
//     min-height: calc(44px + 20px);
//     min-height: calc(44px + constant(safe-area-inset-top));
//     min-height: calc(44px + env(safe-area-inset-top));
// }
// .ios .plex-header ion-title {
//     padding-top: 20px;
//     padding-top: constant(safe-area-inset-top);
//     padding-top: env(safe-area-inset-top);
//     height: calc(44px + 20px);
//     height: calc(44px + constant(safe-area-inset-top));
//     height: calc(44px + env(safe-area-inset-top));
//     min-height: calc(44px + 20px);
//     min-height: calc(44px + constant(safe-area-inset-top));
//     min-height: calc(44px + env(safe-area-inset-top));
// }
.item-ios[detail-push] .item-inner, button.item-ios:not([detail-none]) .item-inner, a.item-ios:not([detail-none]) .item-inner {
  background-image: none;
  padding-right: 0px;
  background-position: right 14px center;
  background-position: right calc(14px + constant(safe-area-inset-right)) center;
  background-position: right calc(14px + env(safe-area-inset-right)) center;
  background-repeat: no-repeat;
  background-size: 14px 14px;
}
.item-ios {
  padding-left: 0;
}
.svg-inline--fa {
  color: color($colors, primary);
  font-size: 30px;
}
