<ion-content padding>

  <div class="login-section">
    <div class="login-main">
      <div class="login-center">
        <img class="logo" src="assets/imgs/amiti_new_logo_app.png">
        <div class="login-box">
          <form [formGroup]="userForm" (submit)="login()" novalidate>

            <h3>Login</h3>

            <ion-item>
              <ion-input type="email" formControlName="email" placeholder="Email" required></ion-input>
            </ion-item>
            <p class="error-message" *ngIf="formErrors.email">
              {{ formErrors.email }}
            </p>

            <ion-item>
              <ion-input type="password" formControlName="password" placeholder="Password" required></ion-input>
            </ion-item>
            <p class="error-message" *ngIf="formErrors.password">
              {{ formErrors.password }}
            </p>

            <button ion-button block [disabled]="!userForm.valid">Login</button>

            <a class="help">Forgot Password</a>

          </form>
        </div>
        <div class="social-login" *ngIf="!(auth.user | async); else alreadyLoggedIn">
          <google-login></google-login>
        </div>
        <ng-template #alreadyLoggedIn>
          <p class="text-success">
            Already logged in!
          </p>
        </ng-template>
      </div>
    </div>
  </div>

</ion-content>

<ion-footer padding>

  &copy; Amiti Plex  |  V.0.1
  <br>
  <a href="http://www.amiti.cloud/terms.html" target="_blank">Terms & conditions</a>

</ion-footer>
