page-login {
  .content-md {
    //background:linear-gradient(to bottom, color($colors, bodyBG) 0%,color($colors, bodyBG) 50%,color($colors, bodyBG) 50%,color($colors, primary) 50%,color($colors, primary) 100%);
    //background-color: color($colors, bodyBG);
    background: url("/assets/imgs/gray-bg.jpg");
  }
  h3 {
    text-align: center;
  }
  .login-section {
    position: absolute;
    padding: 30px;
    height: 100%;
    width: 100%;
    display: flex;
    left: 0;
    top: 0;
  }
  .login-main {
    height: 100%;
    width: 100%;
    display: table;
    vertical-align: middle;
  }
  .login-center {
    display: table-cell;
    vertical-align: middle;
  }
  .login-box {
    background-color: #fff;
    border-radius: 4px;
    padding: 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  .logo {
    max-width: 80%;
    border: 0;
    width: 100%;
    padding: 0 20px 30px;
    display: block;
    margin: 0 auto;
  }
  form {
    padding: 20px 20px 5px;
    .item-md {
      padding: 0;
    }
    .text-input-md {
      margin: 13px 0;
    }
    a {
      width: 100%;
      display: block;
      text-align: center;
      padding: 15px 0;
    }
    .help,
    .success {
      text-align: center;
      margin: 0;
      padding: 15px 0;
    }
    .is-info {
      border-bottom: 1px solid color($colors, bodyBG);
    }
    .button {
      margin-top: 20px;
    }
  }
  .social-login {
    padding: 20px 0 0;
  }
  ion-footer {
    background: #fff;
    text-align: center;
  }
}
