<ion-header>
  <ion-navbar>
    <ion-title>
       {{ user?.firstname }} {{ user?.surname }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form *ngIf="user">
    <ion-item>
      <ion-label stacked>Title</ion-label>
      <ion-input type="text" disabled="true" [(ngModel)]="user.title" name="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Name</ion-label>
      <ion-input type="text" disabled="true" [(ngModel)]="user.firstname" name="firstname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Surname</ion-label>
      <ion-input type="text" disabled="true" [(ngModel)]="user.surname" name="surname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input type="text" disabled="true" [(ngModel)]="user.email" name="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Cell</ion-label>
      <ion-input type="text" disabled="true" [(ngModel)]="user.cell" name="cell"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Nationality</ion-label>
      <ion-input type="text" disabled="true" [(ngModel)]="user.nationality" name="nationality"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>ID/Passport Number</ion-label>
      <ion-input type="text" disabled="true" [(ngModel)]="user.idpassport" name="idpassport"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Work Number</ion-label>
      <ion-input type="text" disabled="true" [(ngModel)]="user.tel" name="tel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Fax Number</ion-label>
      <ion-input type="text" disabled="true" [(ngModel)]="user.fax" name="fax"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Home Number</ion-label>
      <ion-input type="text" disabled="true" [(ngModel)]="user.home" name="home"></ion-input>
    </ion-item>
    <!-- <button ion-button type="submit" block>Add Todo</button> -->
  </form>
</ion-content>
