<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="person" color="primary"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Schemes
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let entity of entities" (click)="setEntity($event, entity)">
      <ion-avatar item-start>
        <img src="{{ entity.template?.downloadFavicon }}">
      </ion-avatar>
      <h2>{{ entity.name }}</h2>
    </button>
  </ion-list>
</ion-content>
