<ion-header>
  <ion-navbar>
    <ion-title>
      Properties
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item *ngFor="let property of properties">
      <ion-avatar item-start>
          <fa-icon [icon]="faBuilding"></fa-icon>
        </ion-avatar>
    <h2>{{ property.property_number }}</h2>
    <p>Stand No: {{ property.section_stand_number }}</p>
    <button ion-button clear item-end (click)="openLink(property.uid)">View</button>
  </ion-item>
</ion-content>
